<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pinsheng.quotation" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>品盛報價系統</name>
    <description>
        品盛冷氣行專業空調報價單管理系統，提供完整的客戶資料管理、報價項目編輯、自動計算、PDF匯出及歷史報價查詢功能。
    </description>
    <author email="contact@pinsheng.com" href="https://pinsheng.com">
        品盛冷氣行
    </author>
    <content src="index.html" />
    
    <!-- Access Settings -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Android Platform Settings -->
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- App Icons -->
        <icon density="ldpi" src="www/icon-192.png" />
        <icon density="mdpi" src="www/icon-192.png" />
        <icon density="hdpi" src="www/icon-192.png" />
        <icon density="xhdpi" src="www/icon-192.png" />
        <icon density="xxhdpi" src="www/icon-512.png" />
        <icon density="xxxhdpi" src="www/icon-512.png" />
        
        <!-- Preferences -->
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    
    <!-- General Preferences -->
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="Orientation" value="default" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1e40af" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <!-- Enable File Access -->
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
</widget>
